@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Nunito:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");

:root {
    --primary-font: "Opens sans", sans-serif;
    --primary-color: linear-gradient(120deg, #FFF8E1 0%, #FFF8E1 40%, #EAF7EE 55%, #EAF7EE 100%);
    --intro-font: "Lora", serif;
    --intro-color: linear-gradient(45deg, #314E52, #243642);
    --element-font: "Montserrat", sans-serif;
    --element-color: linear-gradient(45deg, #FAD4C0, #FFE4C4);
    --title-font: "Playfair Display", serif;
    --title-color: #3E3E3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* jangan diubah, w and h nya, ngaruh ke primary color semua bg content*/
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #D4C9BE;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #FAD4C0, #FFE4C4);
    border-radius: 4px;
}

/* Firefox */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #FFE4C4 #D4C9BE;
    }
}

/* intro before content */
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--intro-color);
    z-index: 999;
    opacity: 1;
    transition: opacity 1s ease;
}

svg {
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 3s ease-in-out forwards;
    stroke-width: 2;
    stroke: rgba(255, 242, 215, 0.979);
    font: bold 8rem var(--intro-font);
}

@keyframes stroke {
    0% {
        fill: rgba(238, 238, 238, 0);
        stroke: rgba(95, 158, 160, 0.979);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(238, 238, 238, 0);
        stroke: rgba(255, 242, 215, 0.979);
    }

    80% {
        fill: rgba(238, 238, 238, 0);
        stroke: rgba(255, 242, 215, 0.979);
        stroke-width: 3;
    }

    100% {
        fill: rgba(255, 224, 181, 0.989);
        stroke: rgba(240, 240, 240, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--intro-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #FFF8E1;
    border-top: 5px solid #FF8C42;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* Main Content Styling */
.main-content {
    display: block;
    opacity: 1;
    transition: opacity 1s ease;
    overflow: hidden;
}

/* navbar */
nav {
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    width: 100%;
    height: 65px;
    padding: 12px 15px;
    justify-content: space-between;
    align-items: center;
    background: var(--element-color);
    z-index: 99;
    transition: top .395s ease;
}

nav.Scrolled {
    top: 0;
}

.logo img {
    width: 67px;
    height: 65px
}

.nav-menu {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    gap: 1.17rem;
}

.navlink {
    color: #B65D3D;
    font: bold 1.25rem #B65D3D;
    text-decoration: none;
    transition: color .3s ease;
}

.nav-menu .navlink:hover,
.nav-menu .navlink.active {
    border-bottom: 4px solid #b65d3d;
    padding: 5px 0;
    transition: all .390s ease-in-out;
}

/* Responsive */
.menu-btn {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

#menu-btn {
    display: none;
}

.menu-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #333446;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    z-index: 100;
}

.menu-btn span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.menu-btn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.menu-btn span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.menu-btn input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.menu-btn input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.menu-btn input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background: var(--element-color);
    padding: 2rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px 0 0 20px;
    transition: right .3s ease-in-out;
    z-index: 99;
}

.sidebar .menu {
    list-style: none;
    padding: 25px 0;
}

.menu li {
    margin: 15px 0;
}

.show-sidebar {
    right: 0;
}

/* Section Home */
.home-section {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Background Blur untuk Mobile */
.slider-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: bottom center;
    filter: blur(15px);
    z-index: 90;
    display: none;
}

/* Main Slider */
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    animation: smoothSlide .5s ease forwards;
}

@keyframes smoothSlide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tombol Prev & Next */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(128, 128, 128, 0.6);
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, .5);
}

.prev {
    left: 1.2rem;
}

.next {
    right: 1.2rem;
}

/* Dots Navigation */
.dots-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    background: rgba(128, 128, 128, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #FFFFFF;
}

/* about */
.about-section {
    width: 100%;
    height: 100dvh;
    padding: 30px 0 0 0;
    /* font: bold 1.6rem var(--title-font); laptop sisanya monitor */
    font: bold 1.9rem var(--title-font);
    color: var(--font-color);
    text-align: center;
}

.about-container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-content {
    /* width: 360px;
    height: 200px; laptop sisanya monitor */
    width: 460px;
    height: 300px;
    background: linear-gradient(45deg, #FFBB76, #FF8C42);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    transition: .3s ease;
    padding: 30px 45px;
    cursor: pointer;
    position: relative;
}

.about-item {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    z-index: 95;
}

.about-item img {
    width: 100%;
    border-radius: 15px;
    border: 3px solid #FFFFFF;
    box-shadow: rgba(0, 0, 0, .5);
}

.about-item figcaption {
    /* font: bold 1.8rem var(--title-font); laptop sisanya monitor */
    font: bold 2.1rem var(--title-font);
    color: #FFFFFF;
    text-shadow:
        0 0 3px #FAD4C0,
        /* lebih gelap dikit */
        0 0 6px #FAD4C0,
        0 0 15px #FAD4C0;
}

.desc-item {
    padding: 17px 0;
    text-align: center;
    transform: translateY(-270px);
    transition: .2s ease;
    /* font-size: 1.010rem; laptop sisanya monitor */
    font-size: 1.060rem;
    opacity: 0;
}

.desc-item p {
    color: #FFFFFF;
}

.about-content:hover>.desc-item {
    transform: translateY(-145px);
    pointer-events: all;
    transition: all 0.3s ease;
    opacity: 1;
    /* Aktifkan interaksi saat di-hover */
}

.about-content:hover {
    /* height: 340px; laptop sisanya monitor */
    height: 420px;
}

/* blog-section */
.blog-section {
    min-height: 100dvh;
    color: #FFFFFF;
    overflow: hidden;
    padding: 1rem;
}

.buttons-card-wrapper {
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.buttons-card {
    display: flex;
    overflow-x: auto;
    padding: 10px 13px;
    justify-content: start;
    list-style-type: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.buttons-card::-webkit-scrollbar {
    display: none;
}

.button-card {
    flex: 0 0 auto;
    margin: 0 10px;
    color: var(--title-color);
    text-decoration: none;
    font: bold 1.125rem var(--element-font);
    background: var(--element-color);
    padding: 10px 20px;
    border-radius: 12px;
    transition: background .5s ease;
}

.button-card:hover,
.button-card.active {
    background: linear-gradient(45deg, #FFBB76, #FF8C42);
    color: #FFFFFF;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    background: rgba(236, 230, 230, 0.5);
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: none;
}

.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}

.scroll-btn.show {
    display: block;
}

/* event button */
.event-card {
    /* font: bold 1.6rem var(--title-font); laptop sisanya monitor */
    font: bold 1.9rem var(--title-font);
    color: var(--title-color);
    text-align: center;
}

.event-card h2 {
    padding: 15px 0;
}

.event-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 5px;
}

.event-item {
    position: relative;
    width: 400px;
    height: 270px;
    object-fit: cover;
    /* margin: 20px 10px 20px 20px; laptop sisanya monitor */
    margin: 30px 10px 20px 35px;
    justify-content: space-between;
    filter: grayscale(100%) opacity(50%);
    border: 4px solid transparent;
    overflow: hidden;
}

.event-item img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 16/9; tidak direcomend kalo img pake hidden elemen karena membuat gepeng img */
    object-fit: cover;
    border-radius: 15px;
    transition: filter .3s ease;
    background-position: center center;
    border: 3px solid rgba(45, 35, 38, .785);
}

.card-desc {
    position: absolute;
    bottom: -100px;
    font-size: 20px;
    left: 0;
    right: 0;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    transition: bottom .3s ease;
}

.event-item:hover {
    filter: grayscale(0%) opacity(100%);
}

.event-item:hover .card-desc {
    bottom: 0;
    border-radius: 0 0 10px 10px;
    background: rgba(45, 35, 38, .785);
}

/* mentor button */
.mentor-content {
    position: relative;
    text-align: center;
    color: var(--title-color);
    font: bold 1.6rem var(--title-font);
}

.mentor-content h2 {
    padding: 30px 0;
}

.mentor-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.top-mentor,
.bottom-mentor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* kalau dipisah: top gapnya 360px */
    gap: 80px;
}

.mentor-card {
    position: relative;
    width: 200px;
    height: 280px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(45, 35, 38, .545);
}

.mentor-card img {
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .25;
    transition: .5s;
}

.mentor-card:hover img {
    opacity: 1;
}

.mentor-card .mentor-item {
    position: absolute;
    z-index: 3;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .5s ease;
}

.mentor-card:hover .mentor-item {
    opacity: 1;
    width: 100%;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, .5);
}

.mentor-item .title {
    position: relative;
    padding: 5px;
    color: #EAF7EE;
    font-weight: bold;
    line-height: 1rem;
    font-size: .98rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.mentor-item .title-desc {
    font-weight: bold;
    font-size: .9rem;
    color: #EAF7EE;
}

.mentor-item .sci-mentor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.sci-mentor li {
    list-style: none;
}

.sci-mentor i.fa-brands {
    font-size: 1.2rem;
    /* font-size bisa digunakan buat ngatur size icon */
}

.sci-mentor li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .5s;
}

.sci-mentor li a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
}

/* member button */
.member-content {
    position: relative;
    text-align: center;
    color: var(--title-color);
    font: bold 1.6rem var(--title-font);
}

.member-content h2 {
    padding: 15px 0;
}

.member-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px 25px;
    gap: 15px;
}

.member-card {
    position: relative;
    width: 200px;
    height: 280px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(45, 35, 38, .545);
}

.member-card img {
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .25;
    transition: .5s;
}

.member-card:hover img {
    opacity: 1;
}

.member-card .member-item {
    position: absolute;
    z-index: 3;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .5s ease;
}

.member-card:hover .member-item {
    opacity: 1;
    width: 100%;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, .5);
}

.member-item .title {
    position: relative;
    padding: 5px;
    color: #EAF7EE;
    font-weight: bold;
    line-height: 1rem;
    font-size: .78rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.member-item .title-desc {
    font-weight: bold;
    font-size: .9rem;
    color: #EAF7EE;
}

.member-item .sci-member {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.sci-member li {
    list-style: none;
}

.sci-member i.fa-brands {
    font-size: 1.2rem;
    /* font-size bisa digunakan buat ngatur size icon */
}

.sci-member li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .5s;
}

.sci-member li a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
}

/* gallery button */
.gallery-content {
    width: 100%;
    padding: 30px 0;
    font: bold 1.6rem var(--title-font);
    color: var(--title-color);
    text-align: center;
    align-items: center;
}

.gallery-album {
    margin: 20px 25px;
    columns: 5;
    column-gap: 20px;
}

.album-item {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
}

.album-item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid #ffffff;
    box-shadow: rgba(0, 0, 0, .5);
}

.title {
    font: bold 1.6rem transparent;
    background: url("../img/dafi-bg.png") center;
}

.kaleidoskop-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px;
}

.kaleidoskop-title {
    font: bold 2.75rem transparent;
    background: url("../img/dafi-bg.png") center;
    background-size: cover;
    background-clip: text;
    /* -webkit-animation: text; masih belum tahu fungsinya */
    color: transparent;
}

.kaleidoskop-video {
    margin: 40px 20px;
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.kaleidoskop-video video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid rgba(36, 54, 66, .5);
}

@media screen and (max-width: 360px) {

}

/* min-width 361px */
/* @media screen and (max-width: 375px) {

}

@media screen and (max-width: 412px) {
    
} */

@media screen and (max-width: 476px) {
    svg text {
        font-size: 2.3rem;
    }

    .menu-btn {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .sidebar .menu {
        font: bold 1.3rem #B65D3D;
    }

    .scroll-btn {
        display: block;
    }

    .slider-background {
        display: block;
    }

    .slider {
        position: absolute;
        width: 90%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, .5);
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, .5);
        z-index: 95;
    }

    .slide img {
        object-fit: contain;
    }

    .about-section {
        font: bold 1.5rem var(--title-font);
    }

    .about-container {
        padding: 60px 20px;
        margin-bottom: 80px;
    }

    .about-container .about-content {
        margin-bottom: 60px;
        width: 330px;
        height: 170px;
    }

    .about-item figcaption {
        font: bold 1.5rem var(--title-font);
    }

    .about-content:hover > .desc-item {
        transform: translateY(-130px);
    }

    .desc-item {
        font-size: 0.96rem;
    }

    .about-content:hover {
        height: 297px;
    }

    .buttons-card-wrapper {
        margin-top: 60px;
        left: -3px;
    }

    .event-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 10px 0 10px;
        gap: 10px;
        justify-content: center;
    }

    .title-event {
        font: bold 1.5rem var(--title-font);
    }

    .event-item {
        width: 320px;
        height: 220px;
        justify-content: center;
        margin: 10px 2px;
    }

    .mentor-content {
        font: bold 1.25rem var(--title-font);
        text-align: center;
    }

    .mentor-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 15px;
    }

    .mentor-card {
        width: 150px;
        height: 210px;
    }

    .member-content {
        font: bold 1.25rem var(--title-font);
        text-align: center;
    }

    .member-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 15px;
    }

    .member-card {
        width: 150px;
        height: 210px;
    }

    .gallery-content {
        font: bold 1.6rem var(--title-font);
    }

    .gallery-content h3 {
        margin: 0 0 30px;
    }

    .gallery-album {
        columns: 2;
        margin: 10px;
    }
}

/* Breakpoint Laptop resolusi 1366 x 768px */
@media screen and (min-width: 990px) and (max-width: 1440px) {
    .about-title {
        font-size: 2.25rem;
    }

    .about-section {
        padding: 25px;
    }

    .about-container {
        gap: 20px;
    }

    .about-content {
        width: 360px;
        height: 200px;
    }

    .about-item figcaption {
        font-size: 1.75rem;
    }

    .about-content:hover > .desc-item {
        transform: translateY(-125px);
    }

    .desc-item {
        font-size: 1rem;
    }

    .about-content:hover {
        height: 320px;
    }

    .event-title {
        font-size: 2.25rem;
    }

    .event-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 15px;
        gap: 5px;
    }

    .event-item {
        width: 350px;
        height: 225px;
    }

    .mentor-title {
        font-size: 2.25rem;
    }

    .mentor-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .mentor-card {
        width: 180px;
        height: 260px;
    }

    .member-title {
        font-size: 2.25rem;
    }

    .member-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 30px;
        gap: 50px
    }

    .member-card {
        width: 180px;
        height: 260px;
    }

    .gallery-title {
        font-size: 2.25rem;
    }

    .kaleidoskop-title {
        font-size: 2.25rem;
    }

    .kaleidoskop-video {
        width: 70%;
    }
}